body{
    width: 100%;
    background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;   
    font-family: 'Public Sans', sans-serif;
    display: flex;
    flex-direction: column;
    Font-size: 18px;
}
.menu{
    display:none;
}
.logo{
    padding: 10px;
    width: auto;
    height: 20px;
}
.icon-hamburger{
    padding: 10px;
    width: auto;
    height: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: blueviolet;
    
}
.container{
    width: 100%;

}
.up-images{
    display: flex;
    justify-content: center;
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position:right top;
    background-size: 100%;
    position: relative;
}
.up-information{
    padding: 10%;
}
.information-between{
    padding: 10%;
}
.container-section{
    padding: 10%;
}
.title-under{
    padding: 10%;
}


.picture_up{
    width: 100%;
}
.informacion-container{
    background-color: burlywood;
}
.img-style{
    width: 100%;
}