body{
    width: 100%;
    background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;   
    font-family: 'Public Sans', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
button {
    background-color: aqua;
}



#btn-up{
    display: none;
}

.decripcion_img{
    padding: 7%;
    text-align: initial;
}
.logo{
    padding: 10px;
    width: fit-content;
    height: 20px;
}
.icon-hamburger{
    padding: 10px;
    width: auto;
    height: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center; 
}
.container{
    width: 100%;
}
.menu-desktop{
    width: 30%;
}
.menu-desktop nav{    
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu-desktop nav ul{
    padding: 10px;
    font-weight: 300;  
   color: hsl(233, 8%, 62%);
    background-color: white;

}
.menu-desktop nav ul:hover{
    color: black;
    cursor: pointer;



}

.up-images{
    display: flex;
    justify-content: center;
    background-image: url(images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-position:right top;
    background-size: 70%;
    position: relative;
}
.up-container{
    text-align: center;
}
.up-information{
    padding: 10%;
}
.information-between{
    padding: 10%;
}
.container-section{
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}
.button-hover:hover {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-bottom-width: 5px;
    border-image-source: linear-gradient(to right,#31D35C, #2BB7DA);
   /* border-bottom: 2px solid linear-gradient(to right,#31D35C, #2BB7DA);*/
}
.title-under{    
    padding-left: 10%;
}


.picture_up{
    width: 200px;
	height: 400px;
	object-fit: cover;
	border: 3px solid #ff9daa;
}

.img-style{ 
    width: 100%; 
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.between-container{
    text-align: center;
}
a{
    color: #000;
    font-weight: 100;
  }
  a:link{
    text-decoration: none;
  }
  a:hover {
    color:hsl(136, 65%, 51%);
    cursor: pointer;
  }

footer{
    
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: hsl(233, 26%, 24%);
}
.container-foteer{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 30px;
    align-items: center;
}
.social-network{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.under-list{
    color: white;
    margin: 10px;
    text-decoration: none;
    width: fit-content;
    font-size: 19px;
    font-weight: 500;
}

.menu-footer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    
}
.btn-invite{
    width: fit-content;
    border: 1px;
    color: hsl(0, 0%, 100%);
    border-radius: 50px;
    font-family: Public Sans;
    background: linear-gradient(to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    cursor: pointer;
    height: 50px;
    margin: 10px;
    width: 170px;
}
.under-container{
    text-align: center;
}
 img:hover{
    cursor: pointer;
    background-image: hsl(136, 65%, 51%) ;
}
h1{
    font-weight: 400;
}
h2 {
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}
h3{
    font-weight: 300;
}
p{
   font-weight: 300;  
   color: hsl(233, 8%, 62%);
}
.svg-inline--fa{
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}
.svg-inline--fa:hover {
    color:hsl(136, 65%, 51%);
    cursor: pointer;
  }
.button-hover:hover {
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-bottom-width: 5px;
    border-image-source: linear-gradient(to right,#31D35C, #2BB7DA);
   /* border-bottom: 2px solid linear-gradient(to right,#31D35C, #2BB7DA);*/

  }



@media screen and (min-width: 1000px) {
    body{
        background-color: white;
        display: flex;
    }
    .up-images{
        display: flex;
        justify-content: center;
        background-image: url(images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position:right top;
        background-size: 100%;
        position: relative;
    }
    header{
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-around;
        align-items: center;
    }
    .up-container {
        display: flex;
        flex-direction: row-reverse;
    }
    .icon-hamburger{
        display:none;
    
    }
    
    #btn-up{
        display: inline;
    
    }
    #btn-header{
        display: inline;
    }
    #btn-header{
        display: inline;
    }
    .information-between {
        padding-top: 1%;
        padding-right: 0%;
        padding-bottom: 5%;
        padding-left: 10%;
        width: 50%;
        text-align: justify;
    }
    
    .section-between{
        margin: 5px;
   
    }
    .container-foteer{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content:space-between; 
    }
    .container-section{
        display: flex;
        flex-direction: initial;
    }
    .section-between{
        margin: 10px;
        text-align: initial;

    }
    .section{
        margin: 10px;
        text-align: left;
    }
    .img-style{  
        height: 170px;
    }
    .title-under{    
        padding-left: 11%;
        text-align: left;
    }
    .up-information{
        text-align: left;
        width: 40%;
    }
    .decripcion_img{
      text-align: inherit;
    }
    .button{
        width: 30%;
        justify-content: flex-end;
        display: flex;
    }
    
}